/** @format */

.show-container {
  color: inherit;
}

.hero-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;
  overflow-x: hidden;
}

.hero_image-container {
  float: left;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.hero_image {
  height: 18rem;
  width: 12rem;
  cursor: pointer;
}

.hero_image-container img:nth-child(7) {
  height: 26rem;
  width: 18rem;
}

.movie_details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: fit-content;
}

.header-container h2 {
  font-size: 1.6rem;
}
